<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295288564239-ipric7pib1stn6fi3efkjpis14o68ai1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295288564239-ipric7pib1stn6fi3efkjpis14o68ai1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295288564239-6asu1tan153bs25cis4g0ik18qbfj6h0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWG3tAbqgTSv4IslN-xqGyTUwX3yaYnmY</string>
	<key>GCM_SENDER_ID</key>
	<string>295288564239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.thia</string>
	<key>PROJECT_ID</key>
	<string>thia-c8ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>thia-c8ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295288564239:ios:f5d97d3f7a5114a29ad17a</string>
	<key>DATABASE_URL</key>
	<string>https://thia-c8ce0-default-rtdb.firebaseio.com</string>
</dict>
</plist>