<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591438534892-7obsv73hspv6l1r84dnvbd5kf6glg37s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591438534892-7obsv73hspv6l1r84dnvbd5kf6glg37s</string>
	<key>API_KEY</key>
	<string>AIzaSyAeq2KPjbnxlc3lw2jbl6_5opIejjuNv5I</string>
	<key>GCM_SENDER_ID</key>
	<string>591438534892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.thia</string>
	<key>PROJECT_ID</key>
	<string>thia---flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>thia---flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591438534892:ios:b08566fbdc8fee65052dc9</string>
</dict>
</plist>